@keyframes appear {
    from {
      opacity: 0;
      transform: scale(0.5);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .single-box {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }


.wrapper {
    background-color: #13172E;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 80px;
}

.content {
    margin: 10% 0;
}

.content h2 {
    margin: 14px 0;
    font-size: 30px;
}

.content p {
    width: 85%;
    margin: auto;
    font-size: 15px;
}

.content a {
    text-decoration: none;
    background: #f0b30f;
    color: #fff;
    padding: 10px 30px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.icon-services {
    width: 80px;
    height: 80px;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));
    margin: auto;
    border-radius: 50%;
}

.icon-services img {
    width: 70px;
    height: 70px;
    color: #fff;
    line-height: 80px;
    font-size: 25px;
}

.single-box{
    border-radius: 90px;
    margin: 0 25px;
    transition: .7s;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../images/img11.jpg);
    text-align: center;
    color: #fff;
    background-size: cover;
    background-position: center center;
}

.single-box:nth-child(2){
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../images/img14.jpg);
    background-size: cover;
    background-position: center center;
    border-radius: 90px;
}

.single-box:nth-child(3){
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../images/img15.jpg);
    background-size: cover;
    background-position: center center;
    border-radius: 90px;
}

.single-box:hover{
    transform: scale(1.2);
    z-index: 2;
}